h1{
    text-align: center;
    color: black;
}

/* social icon style */
.sidebar{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.sidebar a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 10px;
    line-height: 0px;
    background:rgb(218, 56, 56);
    border-radius: 3px;
    border: 2px solid rgb(218, 56, 56);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.sidebar a:hover{
    color: rgb(218, 56, 56);
    background: none;
}
.sidebar i{
    font-size: 25px;
}
